<div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
        <p class="card-text">
            <a name="ticket_{{ ticket.id }}" href="">
                <strong class="d-block text-gray-dark">Автор заявки: @{{ ticket.author }}</strong>
            </a>
            Дата создания заявки: {{ ticket.created }} <br>
            Тип заявки: {{ ticket.type }} <br>
            Статус заявки: {{ ticket.status }} <br>
            Срок исполнения заявки: {{ ticket.deadline }} <br>
            Работник, назначенный на выполнение заявки: {{ ticket.worker }} <br>
            Содержание заявки: {{ ticket.ticket_text|linebreaksbr }} <br>
        </p>

        {% if ticket.group %}
        <a class="card-link muted" href="">
            <strong class="d-block text-gray-dark">#{{ ticket.group.title }}</strong>
        </a>
        {% endif %}

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                {% if user == ticket.author %}
                <a class="btn btn-sm btn-info" href="{% url 'ticket_edit' ticket.author.username ticket.id %}"
                   role="button">
                    Редактировать
                </a>
                {% endif %}
            </div>
            <small class="text-muted">{{ ticket.pub_date }}</small>
        </div>
    </div>
</div>